/* headers start */
.container{
    background: white;
    max-width: 1360px;
    margin: auto;
}

.container header {
    padding: 15px 40px;
<<<<<<< HEAD
=======
   


>>>>>>> 5cec35f (header and footer are complited)
}
header .header_section_signup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

header .header_section_signup .buttons {
    display: flex;
    justify-content: space-between;
}
header .header_section_signup .buttons span {
 height: 20px;   
 border: 1px solid #F77FBE;
 margin: auto 20px;
}
header .header_section_signup .buttons a {
    display: flex; 
    justify-content: center; /* افقی وسط */
    align-items: center; /* عمودی وسط */
    width: 80px;
    height: 40px;
    text-align: center; /* برای اطمینان بیشتر */
<<<<<<< HEAD
=======
    text-decoration: none; /* حذف خط زیر لینک */
>>>>>>> 5cec35f (header and footer are complited)
}
header .header_section_signup .buttons a:nth-child(3){
    color: #000;
   border: 2px solid  #F77FBE;
   border-radius: 5px;
}
header .header_section_signup .buttons a:nth-child(1){
    color: #000;
   background-color:  #1C39BB;
   border-radius: 5px;
   color: #fff;
}
header .header_section_signup .header_logo_section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
}

header .header_section_signup .header_logo_section img{
    width: 55px;
    height: 55px;
}

header .header_section_buttons{
    background-color: #F5F5F5;
    color: black;
    display: flex;
justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 10px ;

    
}

header .header_section_buttons .header_buttons_search_section {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

header .header_section_buttons .header_buttons_search_section div{
    height: 40px;
    background-color: white;
    color: #F77FBE;
    border: 2px solid #F77FBE;
    border-radius: 5px;
    width: 445px;
    display: flex;
    align-items: center;
}
<<<<<<< HEAD
.header_buttons_search_section div a {
    color: #F77FBE;

}
=======

>>>>>>> 5cec35f (header and footer are complited)
header .header_section_buttons .header_buttons_search_section input{
    width: 100%;
    text-align: right;
    background-color: transparent;
    color: #F77FBE;
    padding: 1rem;
    height: 40px;
    border: none;
}

header .header_section_buttons .header_buttons_search_section .basket {
    color: #F77FBE;
    border: 2px solid #F77FBE;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-content: center;


}

header .header_buttons_search_section div a{
    margin-left: 1rem;
    text-align: center;
    align-content: center;
}

header .header_section_buttons .header_buttons_buttons_section {
    background-color: #fff;
    padding: 10px 0 ;
    font-weight: 400;
    
}

header .header_section_buttons .header_buttons_buttons_section a{
    padding: 10px  20px;
    margin: 0 .2rem;
    border-radius: 5px;
    
}

header .header_section_buttons .header_buttons_buttons_section a:first-child{
    background-color: blue;
    margin-right: 0;
    color: white;

}
/* end headers */

/* footer start */
<<<<<<< HEAD
.footer {
    color: #fff;
}
.footer .pargraph{
=======
footer .pargraph{
>>>>>>> 5cec35f (header and footer are complited)
    background-color: #1C39BB;
    text-align: center;
    height: 80px;
    align-content: center;
    color: #fff;
}
<<<<<<< HEAD
.footer .pargraph24{
    font-size: 24px;
}

.footer .pargraph16{
=======
footer .pargraph24{
    font-size: 24px;
}

footer .pargraph16{
>>>>>>> 5cec35f (header and footer are complited)
    font-size: 16px;
    height: 40px;
}

<<<<<<< HEAD
.footer .footer_sections{
=======
footer .footer_sections{
>>>>>>> 5cec35f (header and footer are complited)
    background-color: #00A693;
    height: 240px;
    text-align: center;
    padding-top: .5rem;
}
<<<<<<< HEAD
.footer .footer_section_certificate a{
    margin: 0 1rem;
    border-radius: 5px;
}
.footer .footer_section_certificate a:last-child img{
=======
footer .footer_section_certificate a{
    margin: 0 1rem;
    border-radius: 5px;
}
footer .footer_section_certificate a:last-child img{
>>>>>>> 5cec35f (header and footer are complited)
    background-color: #fff;
    text-align: center;
    align-content: center;
}

<<<<<<< HEAD
.footer .footer_sections .footer_section_links{
    margin: .5rem 0;
}
.footer .footer_sections .footer_section_links a{
    margin: .5rem;
    color: #fff;

}

.footer .footer_section_logoes{
=======
footer .footer_sections .footer_section_links{
    margin: .5rem 0;
}
footer .footer_sections .footer_section_links a{
    margin: .5rem;
}

footer .footer_section_logoes{
>>>>>>> 5cec35f (header and footer are complited)
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: end;
    flex-direction: row;
    margin: 4rem 0;
}

<<<<<<< HEAD
.footer .footer_section_socials a{
=======
footer .footer_section_socials a{
>>>>>>> 5cec35f (header and footer are complited)
    display: inline-block;
    margin: .5rem;
    width: 32px;
    height: 32px;
    align-items: center;
    align-content: center;
    border-radius: 5px; 
    background-color: white;
    color:black;
    text-align: center;
    align-content: center;
}